{% extends 'portfolio/layout.html' %}


{% block main %}
{% load static %}
    <div class="hero">
          <div class="mi">
            <div class=" redonda"><img src="{% static 'portfolio/images/eu.JPG' %}"></div>
        <div class="texto">
            <h1>Gonçalo Pedroso</h1>
            <hr width="100%">
            <p class="textoo1">Informática,Licenciatura,Lifestyle</p>
        </div>
          </div>
    </div>


    <div class="textoM1">
        <h2>CURSO ENGENHARIA INFORMÁTICA - MOTIVAÇÕES / GOSTOS</h2>
        <br>
        <p>A motivação para escolher um curso destes fundamenta-se bastante no gosto em encontra a forma mais eficaz e lógica de resolver ou realizar algo! O gosto pelo desenvolvimento de raciocínio unindo-se com o gosto pelas tecnologias levou-me a escolher este curso.<br>
           <br>Até ao momento o que tenho gostado mais do curso é a área de web developer em que me permite juntar a criatividade com a lógica das coisas, o desenvolvimento de projetos eletrónicos no Arduíno, a gestão de redes e a programação e desenvolvimento de projetos em linguagem java.</p>
    </div>
  <article></article>
    <div class="textoM1">
        <h2>CURSO ENGENHARIA INFORMÁTICA - FUTURO / HOBBIE</h2>
        <br>
        <p>Ao acabar o curso, pretendia ainda tentar continuar o meu percurso académico tirando pelo menos um mestrado relacionado com esta área e tentar conciliar com um hobbie/emprego já no desenvolvimento de projetos. </p>
    </div>
<div class="article2"></div>
{% endblock %}




