<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎓</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Portfolio - Gonçalo Pedroso</title>

</head>
<body>
<header>
    <nav>
        <a href="{% url 'portfolio:Home' %}">Portfolio</a>
    </nav>
    <nav>
      <a href="{% url 'portfolio:Home' %}">Home</a>
      <a href="{% url 'portfolio:Sobre Mim' %}">Sobre mim</a>
      <a href="{% url 'portfolio:Projetos' %}">Projetos</a>
        <a href="{% url 'portfolio:Web' %}">Web</a>
        <a href="{% url 'portfolio:Blog' %}">Blog</a>
        <a href="{% url 'portfolio:Contacto' %}">Contacto</a>
        <a href="{% url 'portfolio:metereologia' %}">Metereologia</a>
    </nav>
</header>
	<main>

        {% block main %}


        {% endblock %}

    </main>
    <footer>
        <p>Gonçalo Pedroso</p>
        <img src="{% static 'portfolio/images/ulht.jpg' %}">
        <script type="text/javascript">
        function horas()
        {
        today=new Date();
        h=today.getHours();
        m=today.getMinutes();
        document.getElementById('txt').innerHTML=h+":"+m+","+"2022";
        setTimeout('time()',500);
        }
        </script>
        <body onload="horas()">
        <div id="txt"></div>
        </body>
    </footer>
</body>
</html>
