{% extends 'portfolio/layout.html' %}


{% block main %}
{% load static %}
<div class="article4"></div>
<h1 class="base1">Projetos Realizados</h1>

<div class="space">
{% for Projeto in Projetos %}
    <div class="Cad">
        <div>
        <h2>{{ Projeto.titulo}}</h2>
            <br>
            <img class="img" src="{{Projeto.imagem.url}}" alt="retrato">
            <p>Descrição : {{ Projeto.descricao}}</p>
            <p>Ano : {{ Projeto.ano}}</p>
            {% for tecnologia in Projeto.tecnologias.all %}<p>Tecnologias utilizadas : {{ tecnologia}} </p>{% endfor %}
            {% for competencia in Projeto.competencias.all %}<p>Competências desenvolvidas : {{ competencia}}</p>{% endfor %}
            {% for participante in Projeto.paticipantes.all %}<p>Alunos participantes : {{ participante }}</p>{% endfor %}
            <p><a href="{{Projeto.linkCadeira}}">Link da Cadeira</a></p>
            <p><a href="{{Projeto.linkGithub}}">Link do Github </a></p>
            <p><a href="{{Projeto.linkYoutube}}">Link do Youtube</a></p>
            <br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:projeto_edita' Projeto.id %}" class="botao">Editar</a>
            <a href="{% url 'portfolio:projeto_apaga' Projeto.id %}" class="botao">Apagar</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="outro">
        <a href="{% url 'portfolio:projeto_novo' %}" class="botao">+ Novo Projeto</a>
</div>
{% endif %}

<h1 class="base2">Trabalhos Finais DEISI</h1>

<div class="textoM1">
        <h2>TFCS DO DEISI</h2>
        <br>
        <p>A baixo são apresentados 6 trabalhos finais de curso realizados nos ultímos 2 anos que mais me despertaram interesse.</p>
</div>

<div class="space">
{% for TrabalhoFinal in Trabalho_Finals %}
        <div class="Cad">
        <div>
        <h2>{{ TrabalhoFinal.titulo}}</h2>
            <br>
            <img class="img" src="{{TrabalhoFinal.imagem.url}}" alt="retrato">
            {% for autores in TrabalhoFinal.autor.all %}<p>Autores : {{ autores}}</p>{% endfor %}
            {% for orientadores in TrabalhoFinal.orientador.all %}<p>Orientador : {{ orientadores}}</p>{% endfor %}
            <br>
            <p>{{ TrabalhoFinal.resumo}}</p>
            <br>
            <p>Ano : {{ TrabalhoFinal.ano}}</p>
            <br>
            <p><a href="{{TrabalhoFinal.linkrelatorio}}">Link do Relatorio</a></p>
            <p><a href="{{TrabalhoFinal.linkGithub}}">Link do Github </a></p>
            <p><a href="{{TrabalhoFinal.linkYoutube}}">Link do Youtube</a></p>
            <br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:trabalhofinal_edita' TrabalhoFinal.id %}" class="botao">Editar</a>
            <a href="{% url 'portfolio:trabalhofinal_apaga' TrabalhoFinal.id %}" class="botao">Apagar</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="outro">
        <a href="{% url 'portfolio:trabalhofinal_novo' %}" class="botao">+ Novo TFC</a>
</div>
{% endif %}

<div class="botoes">
    <a href="{% url 'portfolio:login' %}" class="botao">Login</a>
    <a href="{% url 'portfolio:logout' %}" class="botao">Logout</a>
</div>

{% endblock %}