{% extends 'portfolio/layout.html' %}


{% block main %}
{% load static %}
<div class="article4"></div>
<h1 class="base1">Projetos Realizados</h1>

<div class="space">
{% for Projeto in Projetos %}
    <div class="Cad">
        <div>
        <h2>{{ Projeto.titulo}}</h2>
            <br>
            <img class="img" src="{{Projeto.imagem.url}}" alt="retrato">
            <p>Descrição : {{ Projeto.descricao}}</p>
            <p>Ano : {{ Projeto.ano}}</p>
            {% for tecnologia in Projeto.tecnologias.all %}<p>Tecnologias utilizadas : {{ tecnologia}} </p>{% endfor %}
            {% for competencia in Projeto.competencias.all %}<p>Competências desenvolvidas : {{ competencia}}</p>{% endfor %}
            {% for participante in Projeto.paticipantes.all %}<p>Alunos participantes : {{ participante }}</p>{% endfor %}
            <p><a href="{{Projeto.linkCadeira}}">Link da Cadeira</a></p>
            <p><a href="{{Projeto.linkGithub}}">Link do Github </a></p>
            <p><a href="{{Projeto.linkYoutube}}">Link do Youtube</a></p>
        </div>
    </div>
{% endfor %}
</div>

<h1 class="base2">Trabalhos Finais DEISI</h1>

<P>A baixo são apresentados 6 trabalhos finais de curso realizados nos ultímos 2 anos que mais me despertaram interesse</P>


<div class="space">
{% for TrabalhoFinal in TrabalhoFinals %}
        <div class="Cad">
        <div>
        <h2>{{ TrabalhoFinal.titulo}}</h2>
            <br>
            <img class="img" src="{{TrabalhoFinal.imagem.url}}" alt="retrato">
            <p>Autores : {{ TrabalhoFinal.autor}}</p>
            <p>Descrição : {{ TrabalhoFinal.descricao}}</p>
            <p>Ano : {{ TrabalhoFinal.ano}}</p>
            <p><a href="{{TrabalhoFinal.linkrelatorio}}">Link do Relatorio</a></p>
            <p><a href="{{TrabalhoFinal.linkGithub}}">Link do Github </a></p>
            <p><a href="{{TrabalhoFinal.linkYoutube}}">Link do Youtube</a></p>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}