{% extends 'portfolio/layout.html' %}


{% block main %}
{% load static %}
  <div class="subnav">
      <a href="#Licenciatura">Licenciatura</a>
      <a href="#Educacao">Educação</a>
      <a href="#Aptidoes">Aptidões</a>
      <a href="#hobbies">Interesses e hobbies</a>
  </div>
<div class="article5"></div>
<div class="textoM1">
        <h2>QUEM SOU EU</h2>
        <br>
        <p>O meu nome é Gonçalo Pedroso, tenho 19 anos e de momento sou estudante na Licenciatura em Engenharia Informática, fora disso tenho vários interesses como o mundo do desporto, carros e claro as tecnologias.<br><br> No meu tempo livre tenho como hobbies preferidos jogar/ver futebol,aventurar-me em tudo o que involve um pouco de adrenalina, ir ao ginásio e conviver com amigos, namorada e familia. </p>
    </div>
<div class="article6"></div>

<h1 class="base" id="Aptidoes">Aptidões e Competências Pessoais</h1>
<section>
{% for Apti in Aptis %}
        <p>{{ Apti.titulo}} - {{ Apti.descricao}}<BR>Projeto/Disciplina : {{ Apti.projetos}}/{{ Apti.disciplinas}}</p>
{% endfor %}
</section>
<h1 class="base" id="Educacao">Educação</h1>
<div class="article3"></div>
<h1 class="base">Formação / Certificados</h1>


{% for Formacao in Formacaos %}
<div class="eu">
        <div>
            <img class="img" src="{{Formacao.logotipo.url}}" alt="retrato">
            <div>
                <ul>
                <li>Ensino : {{ Formacao.ensino}}</li>
                <li>Curso : {{ Formacao.curso}}</li>
                <li>Local : {{ Formacao.local}}</li>
                <li>Período : {{ Formacao.periodo}} Anos</li>
               </ul>
            </div>
            </div>
        </div>
<div class="formabut">
            {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:formacao_edita' Formacao.id %}" class="botao">Editar</a>
            <a href="{% url 'portfolio:formacao_apaga' Formacao.id %}" class="botao">Apagar</a>
            {% endif %}
</div>
{% endfor %}

{% if request.user.is_authenticated %}
<div class="outro">
        <a href="{% url 'portfolio:formacao_novo' %}" class="botao">+ Nova Formação</a>
</div>
{% endif %}

<h1 class="base">Cadeiras do curso</h1>

<div class="space" id="Licenciatura">
{% for Cadeira in Cadeiras %}
    <div class="Cad">
        <div>
        <h2>{{ Cadeira.nome}}</h2>
            <br>
            <img class="img" src="{{Cadeira.imagem.url}}" alt="retrato">
            <p>Ano letivo : {{ Cadeira.ano}}</p>
            <p>Semestre : {{ Cadeira.semestre}}</p>
            <p>ECTS : {{ Cadeira.ects}}</p>
            {% for curso in Cadeira.curso.all %}<p>Curso : {{curso}}</p>{% endfor %}
            <br>
            <p>Tópicos abordados : {{ Cadeira.descricao}} </p>
            <br>
            <p>Professor Teórica : <a href="{{Cadeira.docente_teorica.linkLusofona}}">{{ Cadeira.docente_teorica}}</a></p>
            {% for professor in Cadeira.docentes_praticas.all %}<p>Professores Práticas : <a href="{{professor.linkLusofona}}">{{ professor}}</a></p>{% endfor %}
            {% for projeto in Cadeira.projetos.all %}<p>Projetos : {{ projeto}}</p>{% endfor %}
            {% for cadeira in Cadeira.linguagens.all %}<p>Linguagens : {{ cadeira}}</p>{% endfor %}
            <br>
            <a href="{{Cadeira.linkCadeira}}">Link da Cadeira</a><br>
            <br>
            <p>Ranking(0/5) : {{ Cadeira.ranking}} </p>
            <br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:cadeira_edita' Cadeira.id %}" class="botao">Editar</a>
            <a href="{% url 'portfolio:cadeira_apaga' Cadeira.id %}" class="botao">Apagar</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="outro">
        <a href="{% url 'portfolio:cadeira_novo' %}" class="botao">+ Nova Cadeira</a>
</div>
{% endif %}

<h1 class="base" id="hobbies">Interesses e hobbies</h1>

<div class="space">
    <div class="Cad">
        <div>
        <h2>Futebol</h2>
            <br>
            <img src="{% static 'portfolio/images/fut.jpg' %}">
            <p>Joguei federado durante 12 anos, o mundo do futebol é um grande interesse meu.</p>
        </div>
    </div>
    <div class="Cad">
        <div>
        <h2>Ginásio</h2>
            <br>
            <img src="{% static 'portfolio/images/gym.jpg' %}">
            <p>Como hobbie tenho também o ginásio, é algo que faz bastante bem para a sáude física como mental.</p>
        </div>
    </div>
    <div class="Cad">
        <div>
        <h2>Jeep</h2>
            <br>
            <img src="{% static 'portfolio/images/jeep.jpg' %}">
            <p>Nos meus dias de puro lazer gosto também de fazer passeios de jeep visitando sítios novos e com alguma aventura pelo caminho.</p>
        </div>
    </div>
</div>

<h1 class="base">Vídeo explicativo do web site</h1>

<div class="video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/7R83rYP6XCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="botoes">
    <a href="{% url 'portfolio:login' %}" class="botao">Login</a>
    <a href="{% url 'portfolio:logout' %}" class="botao">Logout</a>
</div>

{% endblock %}
    

