{% extends 'portfolio/layout.html' %}

{% block main %}
{% load static %}
  <div class="subnav">
      <a href="#existentes">Tecnologias existentes</a>
      <a href="#website">Sobre este website</a>
      <a href="#laboratorios">Laboratórios</a>
      <a href="#notícias">Notícias</a>
      <a href="#tecnicas">Exemplos e técnicas</a>
      <a href="#Quizz">Quizz</a>
  </div>
<div class="article8"></div>
<h1 class="base1">Laboratórios da Cadeira</h1>

<div class="labs" id="laboratorios">
    {% for Laboratorio in Laboratorios %}
        <div>
            <div><img class="img" src="{{Laboratorio.imagem.url}}" alt="retrato"></div>
            <div><h3>{{Laboratorio.titulo}}</h3><br><a href="{{ Laboratorio.link}}">{{Laboratorio.descricao}} , clique para ver !</a></div>
        </div>
    {% endfor %}
</div>


<h1 class="base1" id="existentes">Tecnologias existentes</h1>

<div class="space">
{% for Tecnologia in Tecnologias %}
    <div class="Tec">
        <div>
        <h2>{{ Tecnologia.nome}} / {{ Tecnologia.acronimo}}</h2>
            <br>
            <img class="img" src="{{Tecnologia.logotipo.url}}" alt="retrato">
            <p>Tipo : {{ Tecnologia.tipo}}</p>
            <br>
            <p>{{ Tecnologia.descricao_caracteristicas}}</p>
            <br>
            <p>Ano : {{ Tecnologia.ano_criacao}}</p>
            {% for criador in Tecnologia.criador.all %}<p>Criador : {{ criador }}</p>{% endfor %}
            <br>
            <a href="{{ Tecnologia.link_site_oficial}}">Link do Site Oficial</a>
            <br>
            <br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:tecnologia_editar' Tecnologia.id %}" class="botao">Editar</a>
            <a href="{% url 'portfolio:tecnologia_apagar' Tecnologia.id %}" class="botao">Apagar</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
    </div>
{% if request.user.is_authenticated %}
<div class="outro">
    <a href="{% url 'portfolio:tecnologia_nova' %}" class="botao">+ Nova tecnologia</a>
</div>
{% endif %}

<h1 class="base1" id="notícias">Notícias artigos</h1>
<div class="article9"></div>

<div class="space">
{% for Noticia in Noticias %}
    <div class="Noc">
        <div>
        <h2>{{ Noticia.titulo}}</h2>
            <br>
        <p>{{ Noticia.texto}}</p>
            <img class="img" src="{{Noticia.imagem.url}}" alt="retrato">
            <a href="{{ Noticia.link}}">Link da Notícia</a>
            <br>
            {% if request.user.is_authenticated %}
            <a href="{% url 'portfolio:noticia_edita' Noticia.id %}" class="botao">Editar</a>
            <a href="{% url 'portfolio:noticia_apaga' Noticia.id %}" class="botao">Apagar</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% if request.user.is_authenticated %}
<div class="outro">
    <a href="{% url 'portfolio:noticia_novo' %}" class="botao">+ Nova Noticia</a>
</div>
{% endif %}

<h1 class="base2" id="website">Mapa do Site</h1>

<div class="dm">
<img src="{% static 'portfolio/images/Mapa.png' %}">
</div>

<h1 class="base2">Diagrama DER</h1>
<div class="der">
    <img src="{% static 'portfolio/images/Der4.png' %}">
</div>

<h1 class="base2">Tecnologias Utilizadas</h1>
<section>
    {% for TecnologiaUsada in TecnologiaUsadas %}
         {% for tecnologiausada in TecnologiaUsada.usadas.all %}<p>Técnologia : {{ tecnologiausada}}</p>{% endfor %}
    {% endfor %}
</section>

<h1 class="base2">Padrões Usados</h1>
<section>
{% for PadroesUsados in PadroesUsadoss %}
    <p>{{PadroesUsados.nome}}</p>
{% endfor %}
</section>

<h1 class="base2" id="tecnicas">Exemplos e técnicas</h1>

<div class="space">
    <div class="Cad">
        <div>
        <h2>Melhores Sites</h2>
            <br>
            <p>Visite os 5 melhores e mais populares sites do mundo</p>
            <br>
            <a href="https://www.google.com/">GOOGLE</a><br>
            <a href="https://www.youtube.com/">YOUTUBE</a><br>
            <a href="https://www.facebook.com/">FACEBOOK</a><br>
            <a href="https://twitter.com/">TWITTER</a><br>
            <a href="https://www.instagram.com/">INSTAGRAM</a><br>
        </div>
    </div>
    <div class="Cad">
        <div>
        <h2>Piores Sites</h2>
            <br>
            <p>Visite os 5 piores e mais bizarros sites do mundo</p>
            <br>
            <a href="http://www.dokimos.org/ajff/">DOKIMOS</a><br>
            <a href="https://www.catalogs.com/">CATALOGS</a><br>
            <a href="https://www.5safepoints.com/">SAFEPOINTS</a><br>
            <a href="https://www.gemwebsolutions.com/">GEMWEBSOLUTION</a><br>
            <a href="http://www.awesomesite.com/">AWESOMESITE</a><br>
        </div>
    </div>
    <div class="Cad">
        <div>
        <h2>Efeitos/Têndencias</h2>
            <br>
            <p>Melhores efeitos/têndencias para WebDesign</p>
            <br>
            <a href="https://rockcontent.com/br/blog/tendencias-de-web-design/">MODO CLARO E ESCURO</a><br>
            <a href="https://rockcontent.com/br/blog/tendencias-de-web-design/">ONE PAGE</a><br>
            <a href="https://rockcontent.com/br/blog/tendencias-de-web-design/">PARALLAX</a><br>
            <a href="https://rockcontent.com/br/blog/tendencias-de-web-design/">MORFISMO DE VIDRO</a><br>
            <a href="https://rockcontent.com/br/blog/tendencias-de-web-design/">HOME PAGE CINEMA</a><br>
        </div>
    </div>
</div>

<h1 class="base2">Comentarios</h1>

<div class="space">
{% for Comenatario in Comenatarios %}
<div class="Cad">
        <div>
        <h2>{{Comenatario.sobre}}</h2>
            <br>
            <p>Comentario : {{Comenatario.texto}}</p>
            <br>
        {% if request.user.is_authenticated %}
         <a href="{% url 'portfolio:comentario_edita' Comenatario.id %}" class="botao">Editar</a>
         <a href="{% url 'portfolio:comentario_apaga' Comenatario.id %}" class="botao">Apagar</a>
        {% endif %}
        </div>
</div>
{% endfor %}
</div>

    <div class="outro">
        <a href="{% url 'portfolio:comentario_novo' %}" class="botao">+ Faz o teu Comentario</a>
    </div>

<h1 class="base1" id="Quizz">Quiz</h1>

<div class="quizz">
    {% load static %}
    <img class="img" src="/static/portfolio/images/grafico.png" alt="retrato">
    <h2>{{nome_vencedores}}</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <div class="gravar">
        <input type="submit" value="Gravar">
    </div>
    </form>
</div>
<div class="botoes">
    <a href="{% url 'portfolio:login' %}" class="botao">Login</a>
    <a href="{% url 'portfolio:logout' %}" class="botao">Logout</a>
</div>
{% endblock %}